.mealLog{
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--gg-bg-color);
    margin-block: 1em;
    padding: 1em;
    border-radius: 0.5em;
}
.mealName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--gg-bg-color);
    margin-block: .1em;
}